<div>
    <h2>
        <span>Stats</span>
        <button class="btn btn-primary float-right jh-create-entity create-stat" [routerLink]="['/', { outlets: { popup: ['stat-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Stat
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="stats">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastUpdated"><span>Last Updated</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="granularity"><span>Granularity</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="numberOfCandles"><span>Number Of Candles</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="first"><span>First</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="last"><span>Last</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="instrument.id"><span>Instrument</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="instrument.id"><span>Instrument</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let stat of stats ;trackBy: trackId">
                <td><a [routerLink]="['../stat', stat.id ]">{{stat.id}}</a></td>
                <td>{{stat.lastUpdated | date:'medium'}}</td>
                <td>{{stat.granularity}}</td>
                <td>{{stat.numberOfCandles}}</td>
                <td>{{stat.first | date:'medium'}}</td>
                <td>{{stat.last | date:'medium'}}</td>
                <td>
                    <div *ngIf="stat.instrument">
                        <a [routerLink]="['../instrument', stat.instrument?.id ]" >{{stat.instrument?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="stat.instrument">
                        <a [routerLink]="['../instrument', stat.instrument?.id ]" >{{stat.instrument?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../stat', stat.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'stat/'+ stat.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'stat/'+ stat.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
