<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myStatLabel">Create or edit a Stat</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!stat.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="stat.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_lastUpdated">Last Updated</label>
            <div class="d-flex">
                <input id="field_lastUpdated" type="datetime-local" class="form-control" name="lastUpdated" [(ngModel)]="stat.lastUpdated"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_numberOfCandles">Number Of Candles</label>
            <input type="number" class="form-control" name="numberOfCandles" id="field_numberOfCandles"
                [(ngModel)]="stat.numberOfCandles"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_first">First</label>
            <div class="d-flex">
                <input id="field_first" type="datetime-local" class="form-control" name="first" [(ngModel)]="stat.first"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_last">Last</label>
            <div class="d-flex">
                <input id="field_last" type="datetime-local" class="form-control" name="last" [(ngModel)]="stat.last"
                  />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_instrument">Instrument</label>
            <select class="form-control" id="field_instrument" name="instrument" [(ngModel)]="stat.instrument" >
                <option [ngValue]="null"></option>
                <option [ngValue]="instrumentOption.id === stat.instrument?.id ? stat.instrument : instrumentOption" *ngFor="let instrumentOption of instruments; trackBy: trackInstrumentById">{{instrumentOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_granularity">Granularity</label>
            <select class="form-control" id="field_granularity" name="granularity" [(ngModel)]="stat.granularity">
                <option [ngValue]="null"></option>
                <option [ngValue]="candleStickGranularityOption.id === stat.granularity?.id ? stat.granularity : candleStickGranularityOption" *ngFor="let candleStickGranularityOption of granularities; trackBy: trackCandleStickGranularityById">{{candleStickGranularityOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_instrument">Instrument</label>
            <select class="form-control" id="field_instrument" name="instrument" [(ngModel)]="stat.instrument" >
                <option [ngValue]="null"></option>
                <option [ngValue]="instrumentOption.id === stat.instrument?.id ? stat.instrument : instrumentOption" *ngFor="let instrumentOption of instruments; trackBy: trackInstrumentById">{{instrumentOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
