
<div *ngIf="candleStickData">
    <h2><span>Candle Stick Data</span> {{candleStickData.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>O</span></dt>
        <dd>
            <span>{{candleStickData.o}}</span>
        </dd>
        <dt><span>H</span></dt>
        <dd>
            <span>{{candleStickData.h}}</span>
        </dd>
        <dt><span>L</span></dt>
        <dd>
            <span>{{candleStickData.l}}</span>
        </dd>
        <dt><span>C</span></dt>
        <dd>
            <span>{{candleStickData.c}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'candle-stick-data/'+ candleStickData.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
