
<div *ngIf="candleStick">
    <h2><span>Candle Stick</span> {{candleStick.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Time</span></dt>
        <dd>
            <span>{{candleStick.time | date:'medium'}}</span>
        </dd>
        <dt><span>Volume</span></dt>
        <dd>
            <span>{{candleStick.volume}}</span>
        </dd>
        <dt><span>Complete</span></dt>
        <dd>
            <span>{{candleStick.complete}}</span>
        </dd>
        <dt><span>Mid</span></dt>
        <dd>
            <div *ngIf="candleStick.mid">
                <a [routerLink]="['/candle-stick-data', candleStick.mid?.id]">{{candleStick.mid?.id}}</a>
            </div>
        </dd>
        <dt><span>Granularity</span></dt>
        <dd>
            <div *ngIf="candleStick.granularity">
                <a [routerLink]="['/candle-stick-granularity', candleStick.granularity?.id]">{{candleStick.granularity?.id}}</a>
            </div>
        </dd>
        <dt><span>Instrument</span></dt>
        <dd>
            <div *ngIf="candleStick.instrument">
                <a [routerLink]="['/instrument', candleStick.instrument?.id]">{{candleStick.instrument?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'candle-stick/'+ candleStick.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
