<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCandleStickLabel">Create or edit a Candle Stick</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!candleStick.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="candleStick.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_time">Time</label>
            <div class="d-flex">
                <input id="field_time" type="datetime-local" class="form-control" name="time" [(ngModel)]="candleStick.time"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_volume">Volume</label>
            <input type="number" class="form-control" name="volume" id="field_volume"
                [(ngModel)]="candleStick.volume"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_complete">Complete</label>
            <input type="checkbox" class="form-control" name="complete" id="field_complete"
                [(ngModel)]="candleStick.complete"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_granularity">Granularity</label>
            <select class="form-control" name="granularity" [(ngModel)]="candleStick.granularity" id="field_granularity" >
                <option value="S5">S5</option>
                <option value="S10">S10</option>
                <option value="S15">S15</option>
                <option value="S30">S30</option>
                <option value="M1">M1</option>
                <option value="M2">M2</option>
                <option value="M4">M4</option>
                <option value="M5">M5</option>
                <option value="M10">M10</option>
                <option value="M15">M15</option>
                <option value="M30">M30</option>
                <option value="H1">H1</option>
                <option value="H2">H2</option>
                <option value="H3">H3</option>
                <option value="H4">H4</option>
                <option value="H6">H6</option>
                <option value="H8">H8</option>
                <option value="H12">H12</option>
                <option value="D">D</option>
                <option value="W">W</option>
                <option value="M">M</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_mid">Mid</label>
            <select class="form-control" id="field_mid" name="mid" [(ngModel)]="candleStick.mid">
                <option [ngValue]="null"></option>
                <option [ngValue]="candleStickDataOption.id === candleStick.mid?.id ? candleStick.mid : candleStickDataOption" *ngFor="let candleStickDataOption of mids; trackBy: trackCandleStickDataById">{{candleStickDataOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_instrument">Instrument</label>
            <select class="form-control" id="field_instrument" name="instrument" [(ngModel)]="candleStick.instrument" >
                <option [ngValue]="null"></option>
                <option [ngValue]="instrumentOption.id === candleStick.instrument?.id ? candleStick.instrument : instrumentOption" *ngFor="let instrumentOption of instruments; trackBy: trackInstrumentById">{{instrumentOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
